<!DOCTYPE html>
<html>
<head>
	<style>
	table {
			font-family :arial, sans-serif;;
			border-collapse: collapse;
	}
	th {border: 1px solid #ffffff;
			background-color: #dddddd;
			text-align: center;
			padding: 2px
		}
		td {text-align: center;
		padding: 2px
		}

		</style>
	</head>
<body>
<h4>Welcome, <%=@user.username%>. Here are your hogs:</h4>
<%@user.hogs.each do |hog|%>
  <h5>Hog Name: <%=hog.name%></h5>
  <table>
        <tr>
      <th>
        Week 1 (61-121)
      </th>
      <th>
        Week 2 (73 - 133)
      </th>
      <th>
        Week 3 (84- 144)
      </th>
      <th>
        Week 4 (95 - 155)
      </th>
      <th>
        Week 5 (107 - 167)
      </th>
		</tr>
		<tr>
			<td><%=hog.weight.week_1%></td>
      <td><%=hog.weight.week_2%></td>
      <td><%=hog.weight.week_3%></td>
      <td><%=hog.weight.week_4%></td>
      <td><%=hog.weight.week_5%></td>
		</tr>
		<tr>
      <th>
        Week 6 (118 - 178)
      </th>
      <th>
        Week 7 (129 - 189)
      </th>
      <th>
        Week 8 (140 - 200)
      </th>
      <th>
        Week 9 (152 - 212)
      </th>
      <th>
      Week 10 (163 - 224)
      </th>
		</tr>
		<tr>
      <td><%=hog.weight.week_6%></td>
      <td><%=hog.weight.week_7%></td>
      <td><%=hog.weight.week_8%></td>
      <td><%=hog.weight.week_9%></td>
      <td><%=hog.weight.week_10%></td>
		</tr>
		<tr>
      <th>
      Week 11 (174 - 234)
      </th>
      <th>
      Week 12 (186 - 246)
      </th>
      <th>
        Week 13 (197 - 257)
      </th>
      <th>
      Week 14 (208 - 268)
    </th>
      <th>
      Week 15 (225 - 285)
    </th>
    </tr>
		<tr>
      <td><%=hog.weight.week_11%></td>
      <td><%=hog.weight.week_12%></td>
      <td><%=hog.weight.week_13%></td>
      <td><%=hog.weight.week_14%></td>
      <td><%=hog.weight.week_15%></td>
    </tr>
  </table><br><br>
  <%end%>
  <h2>Remember, your fair is on <%=@user.fair_date%>!</h2>
  </body>
</html>
