
<!doctype= HTML>
<html>
<body>

<%@users.each do |user|%>
  <%user.hogs.each do |hog|%>
   <%@weight = Weight.find_by(hog_id: "#{hog.id}")%>
      <h5>Hog Name:<%=hog.name%></h5>
      <table>
            <tr>
              <th>Week 1 (61-121)</th>
              <th>Week 2 (73 - 133)</th>
              <th>Week 3 (84- 144)</th>
              <th>Week 4 (95 - 155)</th>
              <th>Week 5 (107 - 167)</th>
            </tr>
          	<tr>
        			<td><%=@weight.week_1%></td>
              <td><%=@weight.week_2%></td>
              <td><%=@weight.week_3%></td>
              <td><%=@weight.week_4%></td>
              <td><%=@weight.week_5%></td>
    		    </tr>
    		   <tr>
              <th>Week 6 (118 - 178)</th>
              <th>Week 7 (129 - 189)</th>
              <th>Week 8 (140 - 200)</th>
              <th>Week 9 (152 - 212)</th>
              <th>Week 10 (163 - 224)</th>
          </tr>
          <tr>
            <td><%=@weight.week_6%></td>
            <td><%=@weight.week_7%></td>
            <td><%=@weight.week_8%></td>
            <td><%=@weight.week_9%></td>
            <td><%=@weight.week_10%></td>
          </tr>
    		<tr>
          <th>Week 11 (174 - 234)</th>
          <th>Week 12 (186 - 246)</th>
          <th>Week 13 (197 - 257)</th>
          <th>Week 14 (208 - 268)</th>
          <th>Week 15 (225 - 285)</th>
        </tr>
      </table><br><br>
    <%end%>
  <%end%>
</body>
  </html>
